.hide{
    display: none;
}


.title{
    color: #F2D0BD;
    margin-top: 100px;
    font-size: 80px;
    text-align: center;
}


.botHome {
  font-size: 40px;
    background-color: #40282E; /* Green */
 border-radius: 5px;
    /* border: none; */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btnLog{
     background-color:#F29C94   ; /* Green */
 border-radius: 5px;
    /* border: none; */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    width: 300px;

}

#btnLo{
    
     background-color:#F29C94   ; /* Green */
 border-radius: 5px;
    /* border: none; */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    width: 300px;

}

/* .boxHome{
  border: 3px solid #F26363;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
    background-color: red; */
/* bottom: 100px; */
   .boxHome{ 
     border: 3px solid #F2D0BD;
    width: 700px;
  margin: auto;
  display: flex;
  
  align-items: center;
  flex-direction: column;
 height: 500px;
 justify-content: center;
}

   .botHome {
  font-size: 20px;
  width: 300px;
   }
    
    